@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* colors */
  --cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --gray-dark-blue: #33323d;
  --bright-red: #f43030;
  --very-light-grey: #fafafa;
  --light-grey: #eaeaeb;
}

h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
  line-height: 1.3;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
}

button {
  padding: 12px 32px;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  color: var(--very-light-grey);
  border: none;
  outline: 1px solid var(--light-grey);
  position: relative;
  transition: all 150ms ease-in-out;
  transform: translateX(32px); /* compensate for ::before icon width */
  position: relative;
}

button:hover {
  cursor: pointer;
  background-color: var(--cyan);
}

button::before {
  content: url("/icons/down-arrows.svg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: -32px;
  width: 32px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue);
  filter: brightness(85%);
}

a {
  color: var(--cyan);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button {
  padding: 12px 32px;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  color: var(--very-light-grey);
  border: none;
  outline: 1px solid var(--light-grey);
  position: relative;
  transition: all 150ms ease-in-out;
}

a.button.secondary {
  display: inline-block;
  text-decoration: none;
  padding: 12px 32px;
  text-transform: uppercase;
  background: none;
  border: 1px solid var(--gray-dark-blue);
  color: var(--gray-dark-blue);
  outline: 1px solid var(--light-grey);
  position: relative;
  transition: all 150ms ease-in-out;
}

a:hover.button.secondary {
  background: var(--gray-dark-blue);
  color: var(--light-grey);
}
