@import "reset.css";

:root {
  /* colors */
  --cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --gray-dark-blue: #33323d;
  --bright-red: #f43030;
  --very-light-grey: #fafafa;
  --light-grey: #eaeaeb;
}

h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}

body {
  font-family: "Public Sans", sans-serif;
}
